
.modal-dialog {
    width: 450px;
}

.auth-login{
    .primary{
        margin-bottom: 20px;
        width: 450px;
        margin-left: 95px;
    }
    .modal-header {
        h1 {
            margin-left: 165px;
        }
    }
}